{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "timing": {
      "plugins": []
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        ["strip-function-call", {"strip": ["timerStart", "timerEnd"]}]
      ]
    },
    "production": {
      "plugins": [
        ["strip-function-call", {"strip": ["timerStart", "timerEnd"]}]
      ]
    }
  }
}
