---
extends: "airbnb"
parser: "babel-eslint"
rules:
  camelcase: 0 # require camel case names
  prefer-template: 0
  object-shorthand: 0
  quotes: 0 # ', ", ` no one cares
  max-len: 0 # be sensible
  object-curly-spacing: 0 # allow { a: 1 } and {a: 1}
  dot-notation: 0 # allows someObject["a"] as well as someObject.a
  react/jsx-filename-extension: [1, { "extensions": [".js", ".jsx"] }]
  comma-dangle: ["error", "never"]
parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    modules: true
env:
  es6: true
  browser: true

# https://gist.github.com/odedw/cf14a55aa154adbc3bf7#file-eslintrc-yaml-L4
