### App specific ###
/dist/
big_flu
/data/
/releases/
/static/
s3/
/local_narratives/
/datasets/
**/__diff_output__

### OSX ###
.DS_Store

### npm ###
node_modules/
npm-debug.log
*tgz

### IDE ###
.vscode/*
