### App specific ###
/dist/
big_flu
/data/
/releases/
/static/
s3/
/local_narratives/
/datasets/

### OSX ###
.DS_Store

### npm ###
node_modules/
npm-debug.log
*tgz

### playwright ###
.playwright/

### IDE ###
.vscode/*
