
/* Variables - keep in sync with globalStyles.js*/
:root {
  --darkGrey: #333;
  --medGrey: #888;
}

/* Normally elements with .overlay are children of the .brush, however
the overlay added on key-presses is is not a child of .brush */
#d3entropy .overlay {
  fill: none;
  pointer-events: all;
  stroke: steelblue;
  stroke-width: 1px;
}

#d3entropy .brush {
  stroke: steelblue;
  stroke-width: 1px;
}

#d3entropy .niceText {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 14px;
  font-style: italic;
  color: var(--medGrey);
}

.brush .selection {
  stroke: turquoise;
  stroke-width: 1px;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
