
/* Variables - keep in sync with globalStyles.js*/
:root {
  --darkGrey: #333;
  --medGrey: #888;
}

#d3entropy .overlay {
  fill: none;
  pointer-events: all;
}

#d3entropy .brush {
  stroke: none;
}

#d3entropy .niceText {
  font-family: "Lato", "Helvetica Neue", "Helvetica", "sans-serif";
  font-size: 14px;
  font-style: italic;
  color: var(--medGrey);
}

.brush .selection {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
