/* Variables - keep in sync with globalStyles.js*/
:root {
  --darkGrey: #333;
  --medGrey: #888;
  --lightGrey: #CCC;
  --brandColor: #5097BA;
}

.narrative .linkedParagraph:hover {
  background-color: orange;
}

.narrative p {
  text-align: justify;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 300;
  color: var(--darkGrey);
  line-height: 1.42857143;
}

/* there appears to be a bug in react-sidebar where, if it's coming from the right,
the open / docked booleans are flipped. Thus, it's "open" as if it were on mobile
and so the background colour is rgba(0, 0, 0, 0.3). This gets around this.*/
.noBackground {
  background-color: rgba(0, 0, 0, 0) !important;
}
