:root {
  --darkGrey: #333;
  --medGrey: #888;
  --lightGrey: #CCC;
  --brandColor: #5097BA;
}

.reports h1 {
  text-align: left;
  font-size: 38px;
  line-height: 32px;
  font-weight: 300;
  color: var(--medGrey);
  min-width: 240px;
  margin-left: -50px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.reports h2 {
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  margin-left: -50px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  color: var(--medGrey);
  border-bottom: 10px;
  min-width: 240px;
}

.reports h3 {
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  margin-left: -50px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
  color: var(--medGrey);
  border-bottom: 0px;
  min-width: 240px;
}

.reports p {
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 300;
  color: var(--darkGrey);
}

.reports strong {
  color: var(--darkGrey);
  font-size: 16px;
  font-weight: 700;
}

.reports img {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 10%;
  width: 80%;
}


/* here is stuff related to the collapsable reports TOC */
.reports input {
  display: none;
  visibility: hidden;
  color: var(--brandColor);
}
.reports label {
  text-align: left;
  font-size: 28px;
  line-height: 32px;
  color: var(--darkGrey);
  cursor: pointer;
  min-width: 240px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-left: -50px;
  font-family: "Lato";
  font-weight: 300;
}
.reports label:hover {
  font-weight: 500;
}
/* ::before creates a pseudo-element that is the first child of the selected element.
It is often used to add cosmetic content to an element with the content property.
It is inline by default. */
.reports label::before {
  content: '\25ba';
  color: var(--darkGrey);
  font-size: 20px;
  padding-right: 5px;
}
.reports #toc {
  height: 0px;
  /*overflow: hidden;*/
  visibility: hidden;
  /*transition: height 0.5s;*/
}
/*
.check:checked ~ .content matches all .content elements that are siblings of .check:checked and appear after it.
*/
.reports #toggle:checked ~ label::before {
  content: '\25bc';
  color: var(--darkGrey);
}
.reports #toggle:checked ~ #toc {
  height: 100%;
  visibility: visible;
  /*transition: height 0.5s;*/
}
