
/* Variables - keep in sync with globalStyles.js*/
:root {
  --darkGrey: #333;
  --medGrey: #888;
  --lightGrey: #CCC;
  --brandColor: #5097BA;
}

/* stop horizontal scroll bar appearing*/
body {
  overflow-x: hidden;
}

/* https://stackoverflow.com/questions/16771225/css3-rotate-animation */
.spinner {
    position: relative;
    /*top: 50%;*/
    left: 50%;
    width: 80px;
    height: 80px;
    margin: 0px 0px 0px -40px;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
