on:
  push:
    branches:
      - master
  pull_request:
name: ci
jobs:
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [10]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: node --version
      - run: npm install
      - run: npm test
  integration-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [10]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm run get-data
      - run: npm run get-narratives
      - run: npm run integration-test:ci
        env:
          SCREENSHOT_UPLOAD_URL: https://us-central1-oss-automation.cloudfunctions.net/github-image-commenter
          ACTION_LOG_FILE: "npm run integration-testci"
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [10]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - run: npm run lint
